@model IEnumerable<ThreeAPIs.Models.StoneAPI>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.MerchantKey)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCardTransactionCollectionAmountCents)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCardTransactionCollectionCreditCardCreditCardBrand)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCardTransactionCollectionCreditCardCreditCardNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCardTransactionCollectionCreditCardExpMonth)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCardTransactionCollectionCreditCardExpYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCardTransactionCollectionCreditCardSecurityCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCardTransactionCollectionCreditCardHolderName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CreditCardTransactionCollectionCreditCardInstallmentCount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.OrderOrderReference)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MerchantKey)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardTransactionCollectionAmountCents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardTransactionCollectionCreditCardCreditCardBrand)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardTransactionCollectionCreditCardCreditCardNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardTransactionCollectionCreditCardExpMonth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardTransactionCollectionCreditCardExpYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardTransactionCollectionCreditCardSecurityCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardTransactionCollectionCreditCardHolderName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreditCardTransactionCollectionCreditCardInstallmentCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderOrderReference)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
